# ignore automake cruft
*.o
.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.log
config.status
configure
ibarrier
mpi_play_config.h
mpi_play_config.h.in
one_sided
stamp-h1
*.tar.*
*~
nonblocking_consensus