[submodule "H5"]
	path = H5
	url = https://github.com/BlueBrain/HighFive.git
[submodule "mpifileutils"]
	path = mpifileutils
	url = https://github.com/hpc/mpifileutils.git
[submodule "mpl"]
	path = mpl
	url = https://github.com/rabauke/mpl.git
[submodule "imb/imb"]
	path = imb/imb
	url = https://github.com/intel/mpi-benchmarks.git
